/* Homepage card styles - legacy support for page_.tsx */

.card--homepage-topstory {
  height: calc(350px + 1rem);
  background-size: cover;
}

.card--homepage-substory {
  height: 175px;
  background-size: cover;
}

.card--homepage-substory {
  &:first-child {
    margin-bottom: 1rem;
  }
}
